
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    background-color: #ffffff;
    font-family: Arial, sans-serif;
}

.brand-name{
    font-weight: bold;
    font-family:cursive;
    color: rgb(160, 75, 15);
}
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.login-box {
    width: 350px;
    background-color: orange;
    color: yellow;
    text-align: center;
    padding: 30px;
    border-radius: 10px;
    box-shadow: rgb(194, 132, 0) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;

}

.login-title {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.brand-name {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
}

.login-subtitle {
    font-size: 1rem;
    margin-bottom: 20px;
}

.login-button {
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
    margin-top: 15px;
    background-color: brown;
}

.login-button:hover {
    transform: scale(1.1);
}














